@model IEnumerable<EFSageBookModel.Entites.Book>
@using EFSageBookModel.Entites;

@{
    ViewBag.Title = "SageBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Sage s = ViewBag.Sage;
    <h2>Books of Sage - @s.Name</h2>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>            
            @Html.ActionLink("Delete", "DeleteSageBook", new { SageId=@s.Id, BookId=item.Id })
        </td>
    </tr>
}

</table>
